body {
    background-color: #ddd;
}
h1 {
    text-align: center;
}
#licence {
    text-align: center;
}
#licence img {
    width: 100px;
}
.cours {
    text-align: center;
}
.cours a img {
    border: outset 8px #aaa;
    margin: 5%;
    height: 40%;
}
.signature {
    text-align: right;
}
